#you {
    border: 1px solid black;
}

button.agentcard {
    width: 50px;
    height: 50px;
    margin: 3px;
    position: relative;
}

span.card-shortcut {
    position: absolute;
    bottom: 0;
    right: 3px;
    font-size: 0.6em;
    line-height: 1;
    opacity: 0.75;
}

button.agentcard.btn-primary {
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-btn-disabled-color: #fff;
}

button.agentcard.btn-danger {
    --bs-btn-bg: #8b0000;
    --bs-btn-border-color: #8b0000;
    --bs-btn-color: #fff;
    --bs-btn-hover-bg: #a30000;
    --bs-btn-hover-border-color: #a30000;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-bg: #720000;
    --bs-btn-active-border-color: #720000;
    --bs-btn-active-color: #fff;
    --bs-btn-disabled-bg: #8b0000;
    --bs-btn-disabled-border-color: #8b0000;
    --bs-btn-disabled-color: #fff;
}

button.our-selected {
    border: 4px solid silver;
}

button.their-selected {
    border: 4px solid gold;
}

button.mission {
    --bs-btn-bg: limegreen;
    --bs-btn-border-color: limegreen;
    --bs-btn-hover-bg: limegreen;
    --bs-btn-hover-border-color: limegreen;
    --bs-btn-active-bg: limegreen;
    --bs-btn-active-border-color: limegreen;
    --bs-btn-disabled-bg: limegreen;
    --bs-btn-disabled-border-color: limegreen;
    width: 2em;
    padding: 0;
    margin: 1px;
}

div#howToPlayDiv {
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 10px;
    padding: 10px;
    text-align: center;
    vertical-align: center;
    border: 1px solid black;
    background-color: #FFFFFF;
}
