{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center align-items-center mb-3">
    Remaining missions
    <div id="remainingMissionsDiv" class="row d-flex justify-content-center"></div>
</div>
<div class="row justify-content-center">
    <div id="youDiv" class="col-md-4 justify-content-center align-items-center">
        <div class="row justify-content-center">You</div>
        <div class="row">
            <div id="youButtonsDiv" class=""></div>
        </div>
        <div class="row justify-content-center align-items-center" id="yourScore"></div>
    </div>
    <div id="infoDiv" class="col-md-2 align-self-center align-items-center">
        <div>
            <p id="currentMissionInfoP" class="text-center"></p>
        </div>
    </div>
    <div id="oppDiv" class="col-md-4 justify-content-center align-items-center">
        <div class="row justify-content-center">Opponent</div>
        <div class="row">
            <div id="oppButtonsDiv" class="col"></div>
        </div>
        <div class="row justify-content-center align-items-center"
             id="opponentsScore"></div>
    </div>
</div>
<div class="row">
    <div id="resultDiv" class="row d-flex justify-content-center">
        <div id="youPlayedDiv"
             class="col d-flex justify-content-end align-items-center"></div>
        <div class="col d-flex justify-content-center align-items-center">
            <p id="message" class="text-center"></p>
        </div>
        <div id="oppPlayedDiv"
             class="col d-flex justify-content-start align-items-center"></div>
    </div>
    <p id="score" class="text-center"></p>
</div>
<div class="row justify-content-center">
    <div class="col-4 justify-content-center">
        <button class="btn w-100 btn-success" id="nextMissionBtn">Next Mission</button>
    </div>
</div>

<div id="howToPlayDiv"><a href="{{ url_for('help_view') }}" target="_blank">How to
    play</a></div>

<script src="/static/spymaster.js"></script>

{% endblock %}
